<?xml version="1.0" ?>

<launch>

  <!-- doc Spawns the tas_car in Gazebo and initializes controllers -->    
 
  <!-- Load the bot -->

  <include file="$(find tas_sim)/launch/description.launch"/>
  
  <!-- Load joint controller from yaml file -->

  <rosparam file="$(find tas_sim)/config/gazebo_controller.yaml" command="load"/>

  <!-- Spawn the car from the robot description -->
  <node name="gazebo_model_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model tas_car -x -10 -y 10 -unpause" respawn="false" output="screen" />
  
  <!-- Load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="tas_car" args="
	  joint_state_controller
	  r_wheel_controller
	  l_wheel_controller
	  r_steer_controller
	  l_steer_controller
	  "/>

  <!-- Use the simulation time -->
  <rosparam param="use_sim_time">true</rosparam>

  <!-- Publish robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" required="true" respawn="false" output="screen">
    <remap from="/joint_states" to="/tas_car/joint_states"/>
  </node>

</launch>

